.dataInput {
    width: 100%;
    font-family: monospace;
}

.binaryOutput {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.binaryOutput > .one, .binaryOutput > .zero {
    width: 1em;
    height: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.binaryOutput > .one:after, .binaryOutput > .zero:after {
    content: '*';
    color: white;
}

.binaryOutput > .break {
    display: block;
}

.binaryOutput > .zero {
    background-color: #063010;
}

.binaryOutput > .one {
    background-color: #1DEC4E;
}
